In [1]:
hassan = {'Mathematics' : 78, 'Programming' : 82,'Biology' : 65, 'Physics' : 80, 'Chemistry' : 50}
grades = {'A' : range(90,101), 'B+' : range(89,90), 'B' : range(60,80), 'C' : range(40,60), 'F' : range(0,40)}

grades2 = {'Hamza' : [80,85,70], 'Hassan' : [80,90,95], 'Abeer' : [85,80,75]}
lists = [['apple', 'mango', 'banana'], [1,2,3,4,5], [True, False, False]]

fruits = ['mango', 'apple', 'banana', 'grapes', 'watermelon', "melon"]

In [2]:
fruits = ['mango', 'apple', 'banana', 'grapes', 'watermelon', "melon"]

for i in fruits:
    for el in i:
        print(el)
    print('\n')

m
a
n
g
o


a
p
p
l
e


b
a
n
a
n
a


g
r
a
p
e
s


w
a
t
e
r
m
e
l
o
n


m
e
l
o
n

In [3]:
fruits = ['mango', 'apple', 'banana', 'grapes', 'watermelon', "melon"]

fruits[0][0]

'm'

In [4]:
lists = [['apple', 'mango', 'banana'], [1,2,3,4,5], [True, False, False]]

for i in lists:
    for el in i:
        print(el)

apple
mango
banana
1
2
3
4
5
True
False
False

### FOR LOOPS IN DICTIONARIES

In [5]:
# i takes key as iteratable in for loop

grades2 = {'Hamza' : [80,85,70], 'Hassan' : [80,90,95], 'Abeer' : [85,80,75]}

for i in grades2:
    print(i)
    print(grades2[i]) #This will print key with the values
    print('\n')

Hamza
[80, 85, 70]


Hassan
[80, 90, 95]


Abeer
[85, 80, 75]

In [6]:
#to print 

grades2 = {'Hamza' : [80,85,70], 'Hassan' : [80,90,95], 'Abeer' : [85,80,75]}

for i in grades2:
    print(i)
    for k in grades2[i]: #Here,k will iterate of values of i(which is the key)
        print(k)

    print("\n")

Hamza
80
85
70


Hassan
80
90
95


Abeer
85
80
75

##### BREAK, CONTINUE AND PASS STATEMENTS

In [7]:
my_str = "This is a Python class"

for i in my_str:
    print(i)
    if i == "P":
        break

T
h
i
s

i
s

a

P

In [8]:
my_str = "This is a Python class"

for i in my_str:
    if i == "P":
        break
    print(i)

T
h
i
s

i
s

a

In [9]:
my_str = "This is a Python class"

for i in my_str:
    if i == "P":
        continue
    print(i)

T
h
i
s

i
s

a

y
t
h
o
n

c
l
a
s
s

In [10]:
my_str = "This is a Python class"

for i in my_str:
    if i == "P":
        pass
    print(i)

T
h
i
s

i
s

a

P
y
t
h
o
n

c
l
a
s
s

In [11]:
lst = [1,2,4,5]

for i in lst:
    print(i)
    if i==3:
        break

else: #else will be executed if the loop continue to execute instead of breaking
    print("Loop completed")

# else will not be executed if we break the while loop, but the condition of loop is false (when all iterations done) it will then execute the else

1
2
4
5
Loop completed

In [12]:
for x in range(0,10):
    if x == 3:
        print("3 found")
        break

else:
    print("Loop Completed, 3 not found")

3 found

### WHILE LOOP

In [13]:
i = 6

while i > 0:
    print("Value of i is now",i)
    print("Hello\n")
    i -= 1 #we need to decrease the value of i otherwise it will run infinite times and kernel interupt will be required

Value of i is now 6
Hello

Value of i is now 5
Hello

Value of i is now 4
Hello

Value of i is now 3
Hello

Value of i is now 2
Hello

Value of i is now 1
Hello

In [20]:
i = 6

while i > 0:
    print(i)
    i -= 1
    
    if i == 3:
        break
    print("Hello")

6
Hello
5
Hello
4

In [16]:
i = 6
while i > 0:
    i -= 1
    if i == 3:
        continue
    print(i)

5
4
2
1
0

In [19]:
i = 6

while i > 0:
   
    if i == 3:
        i -= 1
        continue
    print(i)
    i -= 1

6
5
4
2
1

In [22]:
i = 6

while i > 0:
    print(i)
    i -= 1
    
    # if i == 3:
    #     break
else:
    print("While loop completed")

6
5
4
3
2
1
While loop completed

In [2]:
user_input = input("Please enter the number here: ") #input stores the user input as string by default

Please enter the number here:  50

In [6]:
#We can do this for comparison
#int(user_input) >= 65 
#but if we want to store user input as integer then ....
user_input = int(input("Please enter the number here: "))

Please enter the number here:  50

In [8]:
user_input >= 65

False

#### WHILE LOOP GAME EXAMPLE

In [20]:
user_input = int(input("Please Enter the Number:"))
answer = 50
guesses = 3

while user_input != answer:
    guesses -= 1
    if guesses == 0:
        print("You lost.. Sorry")
        break

    user_input = int(input("Wrong..!! Please enter the Number again: "))

Please Enter the Number: 5
Wrong..!! Please enter the Number again:  9
Wrong..!! Please enter the Number again:  1

You lost.. Sorry

In [27]:
#2nd Method

user_input = int(input("Please enter the Number here, You have 3 guesses: "))

answer = 50
guesses = 3

while guesses > 1:
    guesses -= 1
    if user_input == answer:
        print("Congratulations!! You have guessed it right")
        break
    else:
        print("Wrong Answer !! ",guesses, "attempts left")
        user_input = int(input("Please enter the Number Again: "))
else:
    print("You have used all yout attempts. Better luck next time")

Please enter the Number here, You have 3 guesses:  5

Wrong Answer !!  2 attempts left

Please enter the Number Again:  50

Congratulations!! You have guessed it right

#### BREAKOUT ROOM QUESTION

In [35]:
#Print the following output from above mention dictioaries hassan and grades

# {'Mathematics': [78, 'B'],
#  'Programming': [82, 'B+'],
#  'Biology': [65, 'B'],
#  'Physics': [80, 'B+'],
#  'Chemistry': [50, 'C']}


#we will use nested for loop in dicitionaries 

hassan = {'Mathematics' : 78, 'Programming' : 82,'Biology' : 65, 'Physics' : 80, 'Chemistry' : 50}
grades = {'A' : range(90,101), 'B+' : range(80,89), 'B' : range(60,79), 'C' : range(40,59), 'F' : range(0,40)}

for subj in hassan:
    for grade in grades:
        if hassan[subj] in grades[grade]:
            hassan[subj] = [hassan[subj],grade] # [] here means that we need list as values in the output dictionary
            break #This will make the code more efficient if we break it here i.e if is true don't compare further, break inner for loop
    print(subj,hassan[subj])

hassan #This will print like exact same req output

Mathematics [78, 'B']
Programming [82, 'B+']
Biology [65, 'B']
Physics [80, 'B+']
Chemistry [50, 'C']

In [43]:
#Let's check between the order of dict

dict1 = {'A':30,'B':40,'C':50}
dict2 = {'B':40,'C':50,'A':30}

dict1 == dict2 #This will return true because the dictionaries have same key values in different orders and dicts are unordered

#if we need ordered dictionaries, we will use 'from collections import OrderedDict'

True