# Assigning Variables

VARIABLE DEFINITION:

In [1]:
#variable definition rules: 
#variables must only contain alphabets, numbers and underscore (_)
#variables cannot start with a number but can start with an alphabet or an underscore

#valid variable names
my_var = 5
_myvar = 10
myvar_23 = 15

invalid variable names
2my_var = 8
my_var@ = 9

15

In [ ]:
my_var
_myvar
myvar_23 #it will give only output of last variable if run like this

In [2]:
my_var, _myvar, myvar_23 #it will give output of all the variables in a tuple (will explore tuples further)

(5, 10, 15)

In [3]:
print(my_var)
print(_myvar)
print(myvar_23)

5
10
15

# Check data type of variable type() function

In [4]:
var1 = "python class"
var2 = 1001
var3 = 3.14
var4 = False

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Data types as Func()

In [5]:
#str and other data types are also functions to convert the data type, for example
var5 = 500
var5_to_str = str(var5)
print(var5)
print(var5_to_str)

print(type(var5))
print(type(var5_to_str))

var_5_to_int = int(var5_to_str)
print("The classes are:",type(var_5_to_int),type(var5_to_str))

500
500
<class 'int'>
<class 'str'>
The classes are: <class 'int'> <class 'str'>

In [6]:
var5 = 500
print("Line 2 printout",type(var5),"\n") #to add space between lines in output

var5 = str(var5)
print("Line 5 printout",type(var5))

Line 2 printout <class 'int'>

Line 5 printout <class 'str'>

In [7]:
var5 = 500
print("Line 2 printout",type(var5))
print('\n') #also to add space between lines in output

var5 = str(var5)
print("Line 5 printout",type(var5))

Line 2 printout <class 'int'>


Line 5 printout <class 'str'>

int will store int only

In [8]:
int(500) #it will give 500 
int('print output') #This will give error

ValueError: invalid literal for int() with base 10: 'print output'

In [ ]:
print('Pythonclass') #Always put string in quotation marks

# Basic Arithematic

In [ ]:
int(3.14)

In [ ]:
bool(0) #integer zero will always be false

In [ ]:
bool(1) #any number without zero will give true

In [ ]:
bool(" ")

In [ ]:
bool("Q")

In [ ]:
a = 2
b = 3
c = 4
print(a,b,c)

In [ ]:
a, b, c = 2,3,4
print(a,b,c)

In [ ]:
print(2+3)
print (10*5)
print(100/10)
print (100-50)

In [ ]:
var1 = 500
print(var1)
var1 = var1+10
print(var1)
var1 += 10 # it means var1 = var1 +10
print(var1)
var1 -= 10
print(var1)

In [ ]:
print(3**2) #double star is exponential
print(10/3)
print(10%3) #This will return the remainder
55%10
print(39//10) #This will give 3  instead of rouding up to 4 it will round down to 3 (floor instead of ceil)

In [ ]:
int(False) + 1000

In [ ]:
int(True) + 1000

In [ ]:
500 + float('10.5')

In [ ]:
float('10.5') + 500

In [ ]:
int('10.5') #2 step conversion: it will give error, as it is not do direct conversion, 10.5 is float

In [ ]:
int(float('10.5'))

# Comparison operators

In [ ]:
a = 5
b = 10

print(a>b)
print(a>=b)
print(b<a)
print(a<=b) #less than OR equal to
print(a==b)
print(a!=b)

In [ ]:
x = 5
y = 10
print(x,y)
x = y #single = always used to assign and comparison equal to will be ==
print(x,y)

# Logical operators

In [ ]:
a = 5
b = 10

print(a<b and a != b)
print(a>=b)
print(b<a)
print(a == b or b != a)
print(a == b or not b != a) #not will invert the condition
print(a==b)
print(a!=b)

In [ ]:
vars() #This will show all our written code in one block with working

# Into to Data Structures (List, tuples and dictionares)

# LIST

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)

In [ ]:
my_list = [1,False,3.14,True, 4.5, 'Python', [1,2,3]]
print(my_list)

# To check the position No/ index of a n obj

In [1]:
my_list = [1,False,3.14,True, 4, 5, 'Python', [1,2,3]]
my_str = "This is a python class"
print(my_list)
print(my_list[0])
print(my_str[5])
print(my_list[6])
print(my_list[-6]) # reverse indexing will start from -1
print(my_list[6][0]) #0 index here is returning position of first letter of string "python"
print(my_list[7][1]) #This will only run on subscriptal objects i,e strings, lists etc

[1, False, 3.14, True, 4, 5, 'Python', [1, 2, 3]]
1
i
Python
3.14
P
2

In [9]:
%whos

Variable       Type     Data/Info
---------------------------------
my_var         int      5
myvar_23       int      15
var1           str      python class
var2           int      1001
var3           float    3.14
var4           bool     False
var5           str      500
var5_to_str    str      500
var_5_to_int   int      500

In [ ]:
print(my_str)