#### SETS

In [1]:
A = {6,2,5,4,10,12}
B = {5,6,7,8,12,11,9}

A.intersection(B)

{5, 6, 12}

You can not access an element of a set as sets have no index
Sets can not contain duplicate elements like dictionaries can not contain duplicate keys. It will not give error but it will 
override the duplicates and return the output in ordered form (ascending form)
Example given below

In [2]:
A = {1,2,3,4,3,1,-3,-4,1}
A #This will do ascending
print(A) #This will print removing the duplicates/ repeated elements

{1, 2, 3, 4, -4, -3}

In [3]:
a = [1,2,3]
b = a #It means that a is also equal to b, any changes made in b will be relected in a as well e.g
b.append("A")
print(b)
print(a)

[1, 2, 3, 'A']
[1, 2, 3, 'A']

In [4]:
a = [1,2,3]
b = a.copy() #It will store a copy of a in b and a himself will not be changed
b.append("A")
print(b)
print(a)

[1, 2, 3, 'A']
[1, 2, 3]

##### SET METHODS

add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others

In [5]:
A = {6,2,5,4,10,12}
B = {5,6,7,8,12,11,9}
A.add(13)
print(A)
A.clear()
print(A)

{2, 4, 5, 6, 10, 12, 13}
set()

In [6]:
A = {6,2,5,4,10,12}
B = {5,6,7,8,12,11,9}
A.copy()

{2, 4, 5, 6, 10, 12}

In [7]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b 

print(myset)

{'banana', 'cherry'}

In [8]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a.difference(b) #same as a - b above

print(myset)

{'banana', 'cherry'}

In [9]:
A = {6,2,5,4,10,12}
B = {5,6,7,8,12,11,9}

A.difference(B) #This will return the element that is in A but not in B

{2, 4, 10}

In [10]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c) #This will return the element that is in a but not in b and c

print(myset)

{'banana'}

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) #Removes the item that exists in both sets

print(x)

{'banana', 'cherry'}

In [12]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana") #Remove banana from the list

print(fruits)

{'apple', 'cherry'}

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #Return a set that contains the items that exist in both set x, and set y:

print(z)

{'apple'}

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) #Remove the items that is not present in both x and y:

print(x)
print(y)

{'apple'}
{'google', 'apple', 'microsoft'}

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
 
z = x.isdisjoint(y) #Return True if no items in set x is present in set y:

print(z)

True

In [16]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) #Return True if all items in set x are present in set y:

print(z)

True

In [17]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) #Return True if all items set y are present in set x:

print(z)

True

In [18]:
fruits = {"apple", "banana", "cherry"}

fruits.pop() #Remove a random item from the set, it takes no argument. It returns the removed item

print(fruits)

{'apple', 'cherry'}

In [19]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana") #Remove "banana" from the set:

print(fruits)

{'apple', 'cherry'}

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #Return a set that contains all items from both sets, except items that are present in both sets

print(z)

{'google', 'banana', 'cherry', 'microsoft'}

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #Remove the items that are present in both sets, AND insert the items that are present in both sets:

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) #Return a set that contains all items from both sets, duplicates are excluded:

print(z)

{'google', 'microsoft', 'banana', 'apple', 'cherry'}

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) #Insert the items from set y into set x:

print(x)

{'google', 'microsoft', 'banana', 'apple', 'cherry'}

### FUNCTIONS

In [24]:
sum((1,2,3,4))

10

In [25]:
def my_sum(num1,num2): #Function is defined
    total = num1+num2 #body of cuntion, What will the function
    return total #What will function return

In [26]:
my_sum(10,20)

30

In [27]:
def my_diff(num1,num2):
    return num1 - num2

In [28]:
my_diff(10,20)
my_diff(num1 = 20, num2 = 10)

10

In [29]:
def name(firstname, lastname):
    print(f'my name is {firstname} {lastname}')

In [30]:
name('Atif','Hafeez')
name('Hafeez', 'Atif')
name(lastname = 'Hafeez', firstname = 'Atif')

my name is Atif Hafeez
my name is Hafeez Atif
my name is Atif Hafeez

In [31]:
my_str = name('Atif','Hafeez') #It will print because function called is defined to print the name

my name is Atif Hafeez

In [32]:
my_str #This will not print

BUT IF WE USE RETURN IN THE FUNCTION

In [33]:
def name(firstname, lastname):
    return((f'my name is {firstname} {lastname}'))

#Error will not be shown while the function but when you call it, it will show if there is any error in the function

In [34]:
my_str = name('Atif','Hafeez') #This will not print, it will store the returned result in my_str

In [35]:
my_str #Now this will print the returned result which is stored in my_str

'my name is Atif Hafeez'

In [36]:
def my_diff(num1,num2):
    return num1 - num2

my_diff(10,20) * 10 #This will multiply the returned value but what if we print num1 - num2 instead of return

-100

In [37]:
def my_diff(num1,num2):
    print (num1 - num2)

my_diff(10,20) * 10 #It will give error as print object is NoneType, means it is to print the value when the function is called

-10

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

IF YOU WANT A FUNCTION TO GIVE YOU BACK SOMETHING THAT YOU NEED TO USE, YOU NEED TO USE RETURN
IF YOU WANT A FUNCTION THAT ONLY PRINT A MESSAGE AS OUTPUT, ONLY THEN WE WILL USE PRINT

In [38]:
def is_even(num):
    if num%2 == 0:
        return 'The Number is even'
    else:
        return 'The Number is Odd'

In [39]:
is_even(3)

'The Number is Odd'

In [40]:
#If we want user to input the number on runtime

def is_odd():
    num = int(input("Please enter the number to check: "))
    
    if num%2 == 0:
        print ('The Number is even')
        
    else:
        print ('The Number is Odd')

In [41]:
is_odd()

Please enter the number to check:  58

The Number is even

In [42]:
def my_sum(num1, num2, num3):
    return num1+num2+num3

In [43]:
my_sum(1,2,3)

6

We can set the default arguments to prevent the error i.e we have define function with 3 arguments but call it with 3 arguments

In [44]:
def my_sum(num1=0, num2=0, num3=0):
    return num1+num2+num3

In [45]:
my_sum(4,55) #As num 3 = 0 
#This will work on 1,2 or 3 arguments but will give error if we give more than 3 arguments

59

In [46]:
#We can make our function more flexible if we define the argument a list e.g

def my_sum1(numbers): #This numbers will be a collection of numbers either list or tuple
    total = 0
    for i in numbers:
        total += i

    return total

In [47]:
print(my_sum1([3,4,2,4,6,8,9,11,23,41]))
print(my_sum1((3,4,2,4,6,8,9,11,23,41))) #Same output if we make it a tuple

111
111

In [48]:
#We can do the exact same thing as done in above cell for same output

def my_sum2(numbers):
    return sum(numbers)

In [49]:
my_sum2([3,4,2,4,6,8,9,11,23,41])

111

Sometimes, we do not know in advance the number of arguments that will be passed into a funcƟon. To handle this kind of situaƟon, we can use arbitrary arguments in Python. Arbitrary arguments allow us to pass a varying number of values during a funcƟon call. We use an asterisk (*) before the parameter name to denote this kind of argument.

In [91]:
#To make our function more flexible, we will use Arbitury Arguments with a * in the Function

def my_sum3(*num):
    total = 0
    for i in num:
        total += i

    return total

In [92]:
my_sum3(4,3,5,6,1,5,9)

33

In [52]:
def names(*strings):
    my_str = "Hello..!! My name is:"
    for name in strings:
        my_str += " "+ name
     
    print (my_str)

In [53]:
names('Atif')
names('Atif Ali')
names('Atif Ali Hafeez')
names("Atif Ali Hafeez Chaudhary") #This means one string argument is passed
names("Atif","Ali", "Hafeez","Chaudhary") #This means 4 string arguments are passed #BetterWay

Hello..!! My name is: Atif
Hello..!! My name is: Atif Ali
Hello..!! My name is: Atif Ali Hafeez
Hello..!! My name is: Atif Ali Hafeez Chaudhary
Hello..!! My name is: Atif Ali Hafeez Chaudhary

In [54]:
def names2(*strings):
    for name in strings:
        print(f'Hello.. My name is {name}')

In [55]:
names2('Atif Hafeez', 'Shehryar Qadri')

Hello.. My name is Atif Hafeez
Hello.. My name is Shehryar Qadri

In [56]:
#Write a function that reverses the list order

def reverser(list1):
   
    out_list = list1[::-1]
    return out_list

In [57]:
reverser([1,2,3,4,5,5,4,6,90,1])

[1, 90, 6, 4, 5, 5, 4, 3, 2, 1]

In [58]:
#Write a function that reverses the list order (2nd Method)

def reverser(list1):

    out_list = []
    for i in range(len(list1)-1, -1, -1): #len(list1)-1 means start from 4, next -1 means include zero and with reverse step
        out_list.append(list1[i])

    return out_list

In [59]:
reverser([1,'a', 'Jupyter', 'Atif', 97, True])

[True, 97, 'Atif', 'Jupyter', 'a', 1]

In [60]:
list(range(4,-1,-1))

[4, 3, 2, 1, 0]

In [61]:
my_list = [1,2,3,4,5]
#We need a list in which square of each element ob my_list is stored
my_sq = []
for i in my_list:
    my_sq.append(i**2)

my_sq

[1, 4, 9, 16, 25]

#### List Comprehensions

In [62]:
#List Comprehensions - Above code can be written as fol, this will e called list comprehensions (one liner for loop) e.g
my_list = [1,2,3,4,5]
my_sq = [i**2 for i in my_list] #List Comprehensions (Generate Lists)

my_sq

[1, 4, 9, 16, 25]

In [63]:
#More Examples

my_list = 'atif ali hafeez'
capitals = [i.upper() for i in my_list]

capitals

['A', 'T', 'I', 'F', ' ', 'A', 'L', 'I', ' ', 'H', 'A', 'F', 'E', 'E', 'Z']

In [64]:
#It won't on tuples as tuples are immutable
#Can work on dicts

In [65]:
my_list = 'atif'
capitals = {i:i.upper() for i in my_list}

capitals

{'a': 'A', 't': 'T', 'i': 'I', 'f': 'F'}

In [66]:
my_list = 'maham'

capitals = {i:i.upper() for i in my_list} #It will overright the repeated letters as dictionaries are unique, keys can't be repeated

capitals

{'m': 'M', 'a': 'A', 'h': 'H'}

In [67]:
my_list = ['maham','farooq']

capitals = {i:i.upper() for i in my_list} #It will overright the repeated letters as dictionaries are unique, keys can't be repeated

capitals

{'maham': 'MAHAM', 'farooq': 'FAROOQ'}

#### LAMBDA FUNCTION

Lambdas are min one liner small anonymous funcƟon. It can take any number of arguments but has only one expression. The expression is executed, and the result is returned.

In [68]:
#Let's write a function to return cube a num

def cube(num):
    return num**3

In [69]:
cube(5)

125

In [70]:
#Now lets write the above code in one liner lambda
#lambda is defined as a variable

cube2 = lambda num : num**3 # input : output
cube2(5) #lambda function has been stored in cube 2, we called cube 2 with argument 5

125

In [71]:
#We usally don't store lambda function in a variable, we may attach is with the MAP
# MAP...????

In [72]:
#MAP

lists = [[1,1,1], [2,2,2], [3,3,3], [4,4,4]]

#map() #Map takes a function an argument and takes an iterable as a 2nd argument and applies that function on each iterable of the object. e.g

map(sum,lists) #This will return a map object, if we want to see the result of the above list, we will convert into a list
list(map(sum,lists))

#We normally use malba with the map, we will see the example in next cell

[3, 6, 9, 12]

In [74]:
my_lst1 = [1,2,3,4]

list (map(lambda y:y**2, my_lst1))

#Normally, lambda functions are also used in the functions, but it's not in the scope of python for Data Science

[1, 4, 9, 16]

In [99]:
#Function in above cell can also be written as, here it took a complete function to do what has been done in one line above

def square(y):
    ret_lst = []
    for i in y:
        ret_lst = ret_lst + [i**2]
    return ret_lst

In [101]:
square([1,2,3,4])

[1, 4, 9, 16]

In [83]:
[2,2,2,2]*2 #Multiplying the list with 2 will double it
[2,'a',5,'g']*3 #This will triple the list

[2, 'a', 5, 'g', 2, 'a', 5, 'g', 2, 'a', 5, 'g']

In [102]:
def cube(y): 
 return y*y*y 
 
lambda_cube = lambda y: y*y*y 
 
# using function defined 
# using def keyword 
print("Using function defined with `def` keyword, cube:", cube(5)) 
 
# using the lambda function 
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [2]:
python --version

NameError: name 'python' is not defined

In [1]:
print('Pakistan zindabad')

Pakistan zindabad