In [9]:
roll_no = {100 : "Hassan", 200 : "Hamza", 300 : "Abeer"}

roll_no[400] = 'Atif '
roll_no[400] += 'Hafeez'
roll_no

{100: 'Hassan', 200: 'Hamza', 300: 'Abeer', 400: 'Atif Hafeez'}

F-STRINGS

In [18]:
#Print that "Hamid got 95 makrs in python class"

#One method (But Annoying Way)
name = "Hamid"
c = "Python"
marks = 95

print(name,"got",marks,"marks in", cls, "class")

Hamid got 95 marks in Python class

In [13]:
#2nd Method Using F-Strings

name = "Hamid"
cls = "Python"
marks = 95

print(f"{name} got {marks} marks in {cls} class")

Hamid got 95 marks in Python class

### CONDITIONALS

In [31]:
num = -1
if num < 0:
    print("Number is negative")
elif num == 0:
    print("Number is Zero")
else:
    print("Numner is Positive")

Number is negative

In [46]:
x = 13
y = 10

if x > y:
    print("x is greater than y")
    if x%2 == 0:
        print("x is multiple of 2")
    else:
        print("x is not a multiple of 2")
elif x == y:
    print("x and y are equal")
else:
    print("y is greater than x")

x is greater than y
x is not a multiple of 2

In [55]:
num = 12

if num%2 == 0 and num%3 ==0:
    print("num is a multiple of 2 and 3")

# print("This will not get printed") #Because it's between if and elif
elif num%2 == 0:
    print("num is a multiple of 2")

print("This will get printed")

if num%3 == 0:
    print("num is a multiple of 3")
else:
    print("Not a multiple of 2 and 3")

num is a multiple of 2 and 3
This will get printed
num is a multiple of 3

### RANGE FUNCTION

Range() is an iterattive function which can give a list of number starting from zero before tha argument value 
Used to generate numbers/ collection of objects

In [9]:
print(range(5)) #Range is an object here
print(type(range(5))) 
print(list(range(5)))
tuple(range(5))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]

(0, 1, 2, 3, 4)

In [10]:
print(list(range(2,15,2))) #Same as slicing but comma seperated as range is a built-in function
list(range(-2,15,2)) #it will take integer as argument, not float

[2, 4, 6, 8, 10, 12, 14]

[-2, 0, 2, 4, 6, 8, 10, 12, 14]

### FOR LOOP

Loops are useful when we need to a task repeatedly.
We give an iterative object to For Loop specifically to do iterations, and it should be a collection of objects e.g str, list,tuples,
dict etc but on a single int, bool etc because these are not collection of objects (single entity)

In [73]:
for num in range(5):
    print(num)

#upper code is same as

for num in [0,1,2,3,4]:
    print(num)

0
1
2
3
4
0
1
2
3
4

In [83]:
for l in "Python Class":
    print(l[0])

#Or we cal also do the same by
# cls = "Python Class"
# for l in cls:
#     print(l)

P
y
t
h
o
n

C
l
a
s
s

In [77]:
fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for items in fruits:
    print(items)

mango
apple
banana
grapes
watermelon
guava
melon

In [78]:
fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for items in fruits:
    print(items[0]) #to print first letter of each element

m
a
b
g
w
g
m

In [94]:
#print python 5 times

for i in range(5):
    print("Python")

Python
Python
Python
Python
Python

In [92]:
fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(len(fruits)):
    print(fruits[i])

mango
apple
banana
grapes
watermelon
guava
melon

In [97]:
#to print from banana till watermelon

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(2,len(fruits)-2):
    print(fruits[i])

banana
grapes
watermelon

In [99]:
#print alternate fruits

#to print from banana till watermelon

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(0,len(fruits),2):
    print(fruits[i])

mango
banana
watermelon
melon

In [104]:
#Print "fruit" with every fruit


fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(len(fruits)):
    fruits[i] = fruits[i] + " Fruit"

fruits

['mango Fruit',
 'apple Fruit',
 'banana Fruit',
 'grapes Fruit',
 'watermelon Fruit',
 'guava Fruit',
 'melon Fruit']

In [107]:
#Print "Fruit" with alternate fruit


fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(0,len(fruits),2):
    fruits[i] = fruits[i] + " Fruit"

fruits

['mango Fruit',
 'apple',
 'banana Fruit',
 'grapes',
 'watermelon Fruit',
 'guava',
 'melon Fruit']

In [120]:
#Add "Fruit" with fruit name starting with m

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(len(fruits)):
    if fruits[i][0] == 'm':
        fruits[i] = fruits[i] + " Fruit" 
fruits

['mango Fruit',
 'apple',
 'banana',
 'grapes',
 'watermelon',
 'guava',
 'melon Fruit']

In [127]:
#print elements whose names start with m

#one method

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in fruits: #here, i is storing and iterating names of the fruits
    if i[0] == 'm':
        print(i)
    else:
        print(i +" doesn't start with m")

mango
apple doesn't start with m
banana doesn't start with m
grapes doesn't start with m
watermelon doesn't start with m
guava doesn't start with m
melon

In [156]:
# 2nd method

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in range(len(fruits)): #here i is storing and iterating index no of the fruits
#above "for i in range(len(fruits)): is same as for i in "[0, 1, 2, 3, 4, 5, 6]:
    if fruits[i][0] == 'm':
       print(fruits[i])
    else:
        print(fruits[i] +" doesn't start with m")

mango
apple doesn't start with m
banana doesn't start with m
grapes doesn't start with m
watermelon doesn't start with m
guava doesn't start with m
melon

In [134]:
'y' in 'python' #This will return true because python contains y

True

In [133]:
#To check that which fruits have 'm' in them

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]
for i in range(len(fruits)):
    if 'm' in fruits[i]: #This will return true where iteration contains letter 'm' and if condition will be executed where true
        print(fruits[i])

mango
watermelon
melon

In [152]:
#Check that which fruits in the list contain 'm'

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in fruits:
    if 'm' in i:
        print(i)
    else:
        print("Doesn't contain m")

mango
Doesn't contain m
Doesn't contain m
Doesn't contain m
watermelon
Doesn't contain m
melon

In [165]:
fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]

for i in [0, 1, 2, 3, 4, 5, 6]:
    print(i)
    print(fruits[i])
    print(fruits[i][1]) #This will print 2nd alphabet of each fruit
    print('\n')

0
mango
a


1
apple
p


2
banana
a


3
grapes
r


4
watermelon
a


5
guava
u


6
melon
e

In [7]:
#iterating on multiple lists

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]
numbers = [10,20,30,40,50,60,70]
# print both the strings with each corresponding index of the lists

for i in range(len(fruits)):
    print(fruits[i])
    print(numbers[i])
    print('\n')

#we also have zip() function for this purpose

mango
10


apple
20


banana
30


grapes
40


watermelon
50


guava
60


melon
70

#### ZIP() Function

In [176]:
#Zip() function

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]
numbers = [10,20,30,40,50,60,70]

for i in zip(fruits,numbers): #it will zip both the lists and make a tuple
    print(i)

('mango', 10)
('apple', 20)
('banana', 30)
('grapes', 40)
('watermelon', 50)
('guava', 60)
('melon', 70)

In [172]:
#If we want to print the above output seperately instead of tuples

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]
numbers = [10,20,30,40,50,60,70]

for i in zip(fruits,numbers):
    print(i[0])
    print(i[1])
    print('\n')

mango
10


apple
20


banana
30


grapes
40


watermelon
50


guava
60


melon
70

In [183]:
#Enumerate() function

fruits = ["mango", "apple", "banana", "grapes","watermelon","guava","melon"]
numbers = [10,20,30,40,50,60,70]

for i in enumerate(fruits): #Enumerate is the counter for the Loop
    print(i)

(0, 'mango')
(1, 'apple')
(2, 'banana')
(3, 'grapes')
(4, 'watermelon')
(5, 'guava')
(6, 'melon')