### Index/ Slicing of Lists / Strings

In [ ]:
my_list = [1, False, 2000, 3.14, True, 4, 5, 'python', [1,2,3]]
my_str = "abcdefghijklmnopqrstuvwxyz"
print(my_list)
print(len(my_list))
print(len(my_str))
print(my_list[-2])

In [21]:
print(my_str[0:3])
print(my_list[2:4])
print(my_str[0:10:3]) # starting: Ending(Not including last) : skip one letter 
print(my_list[2:9:3]) #starting: Ending(Not including last) : skip one Element

abc
[2000, 3.14]
adgj
[2000, 4, [1, 2, 3]]

In [24]:
print(my_str[3:]) #Empty means start from 3 and go till end
print(my_str[:10]) #Empty means start from 0 and go till 10
print(my_str[::2]) #Inclde all with one step crossing (Alternate)

defghijklmnopqrstuvwxyz
abcdefghij
acegikmoqsuwy

For reverse indexing

In [38]:
print(my_str[16:0:-1]) #Start will be bigeer from stop for reverse indexing
print(my_str[-20:-1:2]) #This is not reverse indexing
print(my_str[-26:-1]) #This is not reverse indexing

qponmlkjihgfedcb
gikmoqsuwy
abcdefghijklmnopqrstuvwxy

In [51]:
print(my_str[-5:-10:-2]) #step will be negative as its high to lower

vtr

In [55]:
print(my_str[-10:-5:1]) #step will be positive as it is lower to higher , Slice step cannot be zero

qrstu

In [59]:
my_str[-24:0:-1]

'cb'

In [64]:
list1 = [1,2,3]
print(list1)

list1 += [4]
print(list1)

[1, 2, 3]
[1, 2, 3, 4]

### List Methods

In [72]:
fruits = ['mango','apple','banana']
fruits.append('watermelon')
print(fruits)

['mango', 'apple', 'banana', 'watermelon']

In [83]:
fruits = ['mango','apple','banana']
fruits.append(['watermelon', 'orange']) #it will append the list withing the list
fruits

['mango', 'apple', 'banana', ['watermelon', 'orange']]

In [93]:
fruits = ['mango','apple','banana']
fruits.extend(['watermelon','orange']) #it will extend the list without making another list
fruits

None
['mango', 'apple', 'banana', 'watermelon', 'orange']

In [92]:
fruits = ['mango','apple','banana']
fruits.remove('mango') #This is not giving any return, this just doing an in place operation on the list
fruits

['apple', 'banana']

In [85]:
fruits = ['mango','apple','banana']
fruits.insert(2,'watermelon')
fruits

['mango', 'apple', 'watermelon', 'banana']

In [90]:
fruits = ['mango','apple','banana']
removed_element = fruits.pop(1) #it will remove element from a given index, pop will also give output
print(removed_element)
print(fruits)

apple
['mango', 'banana']

In [108]:
fruits = ['mango','apple','banana']
print(fruits)

fruits[1] = 'watermelon' #This will replace element at index 1
print(fruits)

fruits[2] = 'kiwi'
print(fruits)

['mango', 'apple', 'banana']
['mango', 'watermelon', 'banana']
['mango', 'watermelon', 'kiwi']

### String Methods

In [102]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.replace("c","8")

'ab8defghijklmnopqrstuvwxyz'

In [103]:
my_str

'abcdefghijklmnopqrstuvwxyz'

In [105]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str = my_str.replace("c","8")
my_str

'ab8defghijklmnopqrstuvwxyz'

In [109]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str[2] = '8' #This will not work as strings are immutable. Can be done with replace function/ method

TypeError: 'str' object does not support item assignment

In [110]:
my_str.upper()

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [114]:
#But if we want to make just first letter capital

# Mothod 1
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str = my_str[0].upper() + my_str[1:].lower()
print(my_str)
#Method 2
my_str.capitalize()
print(my_str)

Abcdefghijklmnopqrstuvwxyz
Abcdefghijklmnopqrstuvwxyz

In [116]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.index('h') #will return index of fisrt occuring alphabet if h is repeating

7

In [117]:
my_str = "abcdefghijklmnopqrstuvwxyz"
my_str.find('h')

7

If we put index no inside index argument it will return error for index and -1 will be returned in case 
of find (This will not interrupt the code)

In [118]:
my_str.isalpha()

True

In [119]:
'abc'+'8' #String concatenation

'abc8'

In [120]:
my_str = "abcdefghcijklmnopqrstcuvwxyz"
my_str.count('c')

3

### Tuples

In [121]:
my_tup = (1, False, 2000, 3.14, True, 4, 5, 'python', [1,2,3])
print(type(my_tup))

<class 'tuple'>

Index has 2 methods/ functions index and count

In [122]:
my_tup[-1] #Accessing elements in index, same as lists

[1, 2, 3]

In [123]:
my_tup.count(4)

1

In [126]:
#if we want to add watermelon at index 3
my_tup_new = my_tup[:3] + ('watermelon',) + my_tup[3:] 
#if we dont put comma (,) after watermelon, it will be treated as string and will not be concatenated
my_tup_new

(1, False, 2000, 'watermelon', 3.14, True, 4, 5, 'python', [1, 2, 3])

In [127]:
('python',) + ('class') #here it will give error becauase python is tuple and class is string

TypeError: can only concatenate tuple (not "str") to tuple

In [128]:
('python',) + ('class',) #now it will return a tuple

('python', 'class')

### DICTIONARIES

Dictionaries can also contain any number of different types of elements.
Dictionaries don't hae any associated position or index, they are unordered
We have key value pairs in dictionaries
We will use curly brackets for dictionaries

In [132]:
grades = {'Hamza':95} #Hamza is key and 95 is value, one value is one ky-value pair
grades = {'Hamza':95, 'Hassan':50, 'Abeer':89}
# grades[1] #it will give error as there is no index no defined for dictionaries
print(grades['Hassan']) #We will use key as index to print the value
print(grades['Abeer'])

50
89

In [134]:
grades = {'Hamza':95, 'Hassan':50, 'Abeer':89, 1:90} #integer cal also be used as key
grades

{'Hamza': 95, 'Hassan': 50, 'Abeer': 89, 1: 90}

In [139]:
#tuples as keys

coordinates = {(1,2,3):'Lahore', (4,5,6):'Karachi'}
print(coordinates)
print(coordinates[(1,2,3)])

{(1, 2, 3): 'Lahore', (4, 5, 6): 'Karachi'}
Lahore

In [143]:
grades = {45:95, 56:50, 101:89} #key is oll no
grades[101]

89

In [144]:
grades = {45:95, 56.5:50, 101:89} #we can also use float values for key
grades[56.5]

50

In [148]:
grades = {'Hamza':95, 'Hassan':50, 'Abeer':89, 'Hassan':100} #it will override the value of key 'Hassan'
grades['Hassan'] #it will give latest value of 'Hassan' i.e 100
grades

{'Hamza': 95, 'Hassan': 100, 'Abeer': 89}

In [158]:
#values can have duplicates, keys cannot, values can have all sorts of structures (mutable or immutable) but keys cannot 
#have mutable structures i.e lists

grades = {'Hamza':95, 'Hassan':[50,60,80], 'Abeer':89}
grades['Hassan'][1] #it will return Hassan's marks for 2nd test

60

Dintionaris are mutable, we can't have dictionaries as dictionary key but dict can be value - Mutable class can't be a Dictionary

In [162]:
grades['Hassan'] = 80 
grades

{'Hamza': 95, 'Hassan': 80, 'Abeer': 89}

In [163]:
grades = {'Hamza':95, 'Hassan':[50,60,80], 'Abeer':89}
grades['Hassan'][1] = 70 #if we want to change marks of Hassan in 2nd test, same as we did in list and tuples
grades

{'Hamza': 95, 'Hassan': [50, 70, 80], 'Abeer': 89}

In [2]:
#nested dictionary

grades3 = {"Hamza": {"english":80, "python":85}, "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

print(grades3["Hamza"]["english"])


print(grades3["Hamza"]) #will look for the key Hamza in grades3 and return a value, which is a whole dictionary itself
print(grades3["Hamza"]["english"]) #will then look for the "english" key in the nested dictionary and return its value

80
{'english': 80, 'python': 85}
80

In [3]:
#since dictionaries are MUTABLE, you can directly change value of a key like this

roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer"}

roll_no[300] = "Abdullah"

print(roll_no)

{100: 'Hassan', 200: 'Hamza', 300: 'Abdullah'}

In [ ]:
#if you assign a value to a key that does not exist in the dictionary, it is AUTOMATICALLY ADDED TO THE DICTIONARY
roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer"}

roll_no[400] = "Ahsan"

print(roll_no)

In [ ]:
#Incrementing a dictionary key: way 1

grades = {"Hamza":95, "Hassan":50, "Abeer": 89}
grades["Hamza"] = grades["Hamza"] + 5

print(grades["Hamza"])

In [ ]:
#Incrementing a dictionary key: way 2

grades = {"Hamza":95, "Hassan":50, "Abeer": 89}
grades["Hamza"] += 5

print(grades["Hamza"])

In [ ]:
grades2 = {"Hamza": [80, 85, 70], "Hassan": [80, 90, 95], "Abeer":[85, 80, 75]}

#now grades2["Hamza"] is returning a list 
#so if you need an element from the list, you need to add list indexing after fetching the key value
grades2["Hassan"][1] += 5 

print(grades2)

In [ ]:
#an operation like this will result in an error however
# if the key doesn't already exist, you cannot update it

roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer", 400: "Ahsan"}

roll_no[600] += 5

In [6]:
# #but if we add roll no 600 below, it will then make the increment in the key value

# roll_no = {100: "Hassan", 200:"Hamza", 300: "Abeer", 400: "Ahsan"}
# roll_no[600] = "Farhan"
# print(roll_no)
# print(roll_no[600])
# print(roll_no)

In [168]:
# Data Structures can do inter conversion same as data types e.g

my_tup = (1, False, 2000, 3.14, True, 4, 5, 'python', [1,2,3])
my_tup = list(my_tup)
my_tup

[1, False, 2000, 3.14, True, 4, 5, 'python', [1, 2, 3]]

#### DICTIONARY METHODS

clear()	Removes all the elements from the dictionary #Same as List
copy()	Returns a copy of the dictionary #Same as List
fromkeys()	Returns a dictionary with the specified keys and value 
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [8]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964}
print(car)
car.clear()
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{}

In [12]:
car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [14]:
# Create a dictionary with 3 keys, all with the value 0:

x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

#Same example as above, but without specifying the value:

x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x) #It will return vlue as none if noe specified

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}
{'key1': None, 'key2': None, 'key3': None}

In [15]:
#Get the value of the "model" value/item:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.get("model")
print(x)

Mustang

In [17]:
#Get the value of a key that doesn't exist

car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.get("price", 15000) #get can take 2 arguments, here it will return 15000 as price

print(x)

15000

In [18]:
#Return the dictionary's key-value pairs:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.items() #Key value pair will be returned as a List

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [19]:
#When an item in the dictionary changes value, the view object also gets updated

x = car.items()

car["year"] = 2018

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [20]:
#To return the keys:

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [21]:
#Remove "model" from the dictionary:

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 2018}

In [24]:
#Remove the last item from the dictionary:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.popitem() #Removed item will be saved in x
print(x) #will print the removed item

('year', 1964)

In [26]:
#Get the value of the "model" value/item:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}
x = car.setdefault("model", "Bronco") 
print(x)

Mustang

In [27]:
#Get the value of the "color" item, if the "color" item does not exist, insert "color" with the value "white":

car = { "brand": "Ford", "model": "Mustang", "year": 1964}

x  = car.setdefault("color", "white")

print(x)

white

In [28]:
#Insert an item to the dictionary:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}

car.update({"color": "White"}) #we will insert with curly braces like dictionaries

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [36]:
#Return a list of all the values in the dictionary

car = { "brand": "Ford", "model": "Mustang", "year": 1964}

x = cars.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [37]:
#When a values is changed in the dictionary, the view object also gets updated:

car = { "brand": "Ford", "model": "Mustang", "year": 1964}

x = car.values()

car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018])